<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/form_errors', resource: @badge %>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name, id: :badge_name %>
  </p>

  <p>
    <%= form.label :url %>
    <%= form.text_field :url, id: :badge_url %>
  </p>

  <p>
    <%= form.label :rule_id %>
    <%= form.collection_select :rule_id, Rule.all, :id, :name, prompt: true %>
  </p>

  <p><%= form.submit %></p>
<% end %>
