<h1><%= t('.header') %></h1>
<div>
  <a><%= link_to t('.add_badge'), new_admin_badge_path, class: "btn btn-primary" %></a>
</div>
<table class="table">
  <tr>
    <th class="text-center"><%= t('.name') %></th>
    <th class="text-center"><%= t('.url') %></th>
    <th class="text-center"><%= t('.image') %></th>
    <th class="text-center"><%= t('.actions') %></th>
  </tr>
  <%= render @badges %>
</table>
