<table class="nav nav-admin">
  <tr>
    <% if user_signed_in? %>
      <th><a class="badge badge-pill badge-info" href="<%= root_path %>">Test Guru</a></th>
      <th><a class="badge badge-pill badge-info" href="<%= tests_path %>">Test Passage</a></th>
      <th><a class="badge badge-pill badge-info" href="<%= admin_gists_path %>">Gists</a></th>

      <th>
        Welcome, <b><%= current_user.first_name %> <%= current_user.last_name %></b> Admin
      </th>
      <th>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>
      </th>
    <% else %>
      <th>
        <%= link_to 'Login', new_user_session_path, class: "btn btn-primary" %>
      </th>
      <th>
        <%= link_to 'Signup', new_user_registration_path, class: "btn btn-primary" %>
      </th>
    <% end %>
  </tr>
</table>
