<table class="nav nav-admin">
  <tr>
    <th><a href="<%= root_path %>">Test Guru</a></th>
    <% if user_signed_in? %>
        <th>
          Welcome, <b><%= current_user.email %></b> Admin
        </th>
        <th>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
        </th>
    <% else %>
        <th>
          <%= link_to 'Login', new_user_session_path %>
        </th>
        <th>
          <%= link_to 'Signup', new_user_registration_path %>
        </th>
    <% end %>
  </tr>
</table>
