<h><%= t('.header', title: @test_passage.test.title) %></h>

<p class="<%= result_message_class(@test_passage) %>">Result: <%= result_message(@test_passage) %></p>

<% if @badge_service.give_badges? %>
  <p><b>You are getting badges!</b></p>
  <% @badge_service.badges.each do |badge| %>
    <img src="<%= badge.url %>" width="189" height="255">
  <% end %>
<% end %>

<hr>
<%= link_to 'Back to list of tests', tests_path %>
