<h1><%= answer_header(@answer) %></h1>

<%= form_with model: [@question, @answer], local: true do |form| %>
  <%= render 'shared/form_errors', resource: @answer %>

  <p>
    <%= form.label :body %>
    <%= form.text_field :body, id: :answer_body %>
  </p>

  <p>
    <%= form.label :correct %>
    <%= form.check_box :correct, id: :answer_correct %>
  </p>

  <p><%= form.submit("OK") %></p>
<% end %>
