<tr>
  <td><%= link_to test.title, admin_test_path(test) %></td>
  <td align="center"><%= test_level(test) %></td>
  <td align="center"><%= test.category.title %></td>
  <td align="center"><%= test.questions.size %></td>
  <td ><%= link_to t('.show'), admin_test_path(test) %></td>
  <td ><%= link_to t('.edit'), edit_admin_test_path(test) %></td>
  <td ><%= link_to t('.delete'),
                   admin_test_path(test),
                   method: :delete,
                   data: {confirm: t('.are_you_sure')} %></td>
</tr>
