<tr>
  <td align="center"><%= test.title %></td>
  <td align="center"><%= test_level(test) %></td>
  <td align="center"><%= test.category.title %></td>
  <td align="center"><%= test.questions.size %></td>
  <td><%= button_to 'Start', start_test_path(test) %></td>
</tr>
