<h1><%= t('.header') %></h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th class="text-center"><%= t('.title') %></th>
      <th class="text-center"><%= t('.level') %></th>
      <th class="text-center"><%= t('.category') %></th>
      <th class="text-center"><%= t('.quantity_of_questions') %></th>
      <th><%= t('.actions') %></th>
    </tr>
  </thead>
  <%= render @tests %>
</table>

