<h1><%= t('.header') %></h1>

<table class="table">
  <tr>
    <th id="title_column_header" class="sort-by-title pointer text-center" data-sort-state="unsorted">
      <%= t('.title') %>
      <%= octicon 'arrow-up', id: "octicon_title_arrow_up", class: 'text-success' %>
      <%= octicon 'arrow-down', id: "octicon_title_arrow_down", class: 'text-success' %>
    </th>
    <th class="text-center"><%= t('.level') %></th>
    <th class="text-center"><%= t('.category') %></th>
    <th class="text-center"><%= t('.quantity_of_questions') %></th>
    <th><%= t('.actions') %></th>
  </tr>
  <%= render @tests %>
</table>
