<table class="nav user">
  <tr>
    <th><a class="badge badge-pill badge-info" href="<%= root_path %>">Test Guru</a></th>
    <% if user_signed_in? %>
      <th>
        Welcome, <b><%= current_user.email %></b> Guru
      </th>
      <% if current_user.admin? %>
        <th>
          <a class="badge badge-pill badge-info" href="<%= admin_tests_path %>">Admin panel</a>
        </th>
      <% end %>
      <th>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
      </th>
    <% else %>
      <th>
        <%= link_to 'Login', new_user_session_path %>
      </th>
      <th>
        <%= link_to 'Signup', new_user_registration_path %>
      </th>
    <% end %>
  </tr>
</table>
